<!DOCTYPE html>
<html>
	<head>
		
		<title>ADMIN HOME</title>
	</head>
	<body>
		
		<h2>admin home</h2>
		
		<form action="newsong" >
		<input type="submit" value="ADD SONGS">
		</form>
		
		<br/>
		<br/>
		
		<form action="viewsongs" >
		<input type="submit" value="VIEW SONGS">
		</form>
		
		<br/>
		<br/>
		
		<form action="createplaylist" >
		<input type="submit" value="CREATE PLAYLIST">
		</form>
		
		<br/>
		<br/>
		
		<form action="viewplaylist" >
		<input type="submit" value="VIEW PLAYLIST">
		</form>
		
		
		
	</body>
	
	
	
	
	
</html>