<!DOCTYPE html>
<html>
	<head>
		<title>LOGIN</title>
		<link rel=stylesheet type=text/css th:href="@{/login.css}">
	</head>
	<body>
		
		 <div class="container">
        <div id="login-form" class="form active">
		<form action="validate" method="post">
			
			<h2>USER LOGIN</h2>
			
			<label>Email:</label><br/>
			<input type="email" name="email">
			<br/><br/>
			
			<label>Password:</label><br/>
			<input type="password" name="password">
			
			
			<button type="submit">LOGIN</button>
			<p>Don't have an account? <a href="registration" id="toggle-register">Register</a></p>
		</form>
		</div>
		</div>
	</body>
	
	
	
	
	
</html>